@inherits LayoutComponentBase

<RadzenLayout Style="height: 980px; grid-template-columns: auto 1fr auto; grid-template-areas: 'rz-header rz-header rz-header' 'rz-sidebar rz-body rz-right-sidebar'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar = !sidebar)" />
            <RadzenLabel Text="Header" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Counter" Icon="account_box" Path="/counter" />
            <RadzenPanelMenuItem Text="Weather" Icon="account_box" Path="/weather" />
        </RadzenPanelMenu>
        <div class="rz-p-4">
            Left Sidebar
        </div>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">@Body</div>
    </RadzenBody>
    <RadzenSidebar @bind-Expanded="@sidebar" Style="width: 300px; grid-area: rz-right-sidebar">
        <div class="rz-p-4">
            <AccessControl />
            <br /><br />
            Right Sidebar
        </div>
    </RadzenSidebar>
</RadzenLayout>

@code {
    bool sidebar = true;
}