@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter (@count)</h1>

<RadzenButton Text="Ping" Click="@Ping"></RadzenButton>

@code {
    private int count = 0;

    private void Ping()
    {
        count++;
    }
}